{% extends "base.html" %}

{% block content %}

    <section id="page-header">
        {% if profile.id == user.id %}
            YOUR PROFILE
        {% else %}
            {{ profile.username }}
        {% endif %}
        <img class="user-flag" src="{{profile.country.flag.url}}" />
    </section>

    <section id="profile-header" class="flex-container">
        <div>
            {% if profile.profile_picture %}
                <img class="profile-picture" alt="{{ profile.username }}" src="{{ profile.profile_picture.url }}" />
            {% endif %}
        </div>
        <div>
            {% if profile.intro %}
                {{ profile.intro }}
            {% endif %}
        </div>
    </section>

    <section id="profile-text">
        {% if profile.text %}
            {{ profile.text }}
        {% endif %}
    </section>

    <section class="profile-info" id="location">
        <ul>
            <li>
                <strong>Country:</strong> {{ profile.country }}
            </li>
        </ul>
    </section>

    <section class="profile-info" id="details">
        <ul>
            <li>
                <strong>Age:</strong> {{ age }}
            </li>
            <li>
                <strong>Gender:</strong>
                {% if profile.gender %}
                    {{ profile.gender }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Status:</strong>
                {% if profile.marital_status %}
                    {{ profile.marital_status }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Looking For:</strong>
                {% if profile.looking_for %}
                    {{ profile.looking_for }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Seeking:</strong>
                {% if profile.relationship %}
                    {{ profile.relationship }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="profile-info" id="appearance">
        <ul>
            <li>
                <strong>Ethnicity:</strong>
                {% if profile.ethnicity %}
                    {{ profile.ethnicity }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Hair Colour:</strong>
                {% if profile.hair %}
                    {{ profile.hair }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Eye Colour:</strong>
                {% if profile.eyes %}
                    {{ profile.eyes }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="profile-info" id="lifestyle">
        <ul>
            <li>
                <strong>Has Children:</strong>
                {% if profile.has_children %}
                    {{ profile.has_children }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Wants Children:</strong>
                {% if profile.wants_children %}
                    {{ profile.wants_children }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Drinks:</strong>
                {% if profile.drinks %}
                    {{ profile.drinks }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Smokes:</strong>
                {% if profile.smokes %}
                    {{ profile.smokes }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
            <li>
                <strong>Diet:</strong>
                {% if profile.diet %}
                    {{ profile.diet }}
                {% else %}
                    Not Set
                {% endif %}
            </li>
        </ul>
    </section>

    <section id="user-details" class="flex-container">
        <div class="columns">
            <strong>Member since:</strong><br />
            {{ profile.date_joined|date:'d M y, H:i' }}
        </div>
        <div class="columns">
            <strong>Last login:</strong><br />
            {{ profile.last_login|date:'d M y, H:i' }}
        </div>
    </section>

    <!-- If the user is viewing their own profile, link to the editing page. -->
    {% if profile.id == user.id %}
        <div class="full-details">
            <a class="standard-link" href="{% url 'user_profile' %}">[Edit Your Profile]</a>
        </div>
    {% endif %}

{% endblock %}