{% extends "base.html" %}

{% block content %}

    <section id="page-header">
        {% if profile.id == user.id %}
            YOUR PROFILE
        {% else %}
            {{ profile.username }}
        {% endif %}
        <img class="user-flag" src="{{profile.country.flag.url}}" />
        {% if is_online %}
            <img class="profile-icon" alt="Online" src="/media/images/icons/online.png" />
        {% else %}
            <img class="profile-icon" alt="Offline" src="/media/images/icons/offline.png" />
        {% endif %}
        {% if favourite %}
            <img class="profile-icon" alt="Favourited" src="/media/images/icons/star_gold.png" />
        {% endif %}
    </section>

    <section id="profile-header" class="flex-container">
        <div>
            {% if profile.profile_picture %}
                <img class="profile-picture" alt="{{ profile.username }}" src="{{ profile.profile_picture.url }}" />
            {% endif %}
        </div>
        <div>
            {% if profile.intro %}
                {{ profile.intro }}
            {% endif %}
        </div>
    </section>

    <section id="profile-text">
        {% if profile.text %}
            {{ profile.text }}
        {% endif %}
    </section>

    <section class="profile-info" id="location">
        <ul>
            <li>
                <strong>Country:</strong> {{ profile.country }}
            </li>
            {% if profile.state %}
                <li>
                    <strong>State/Province:</strong> {{ profile.state }}
                </li>
            {% endif %}
        </ul>
    </section>

    <section class="profile-info" id="details">
        <ul>
            <li>
                <strong>Age:</strong> {{ age }}
            </li>
            <li>
                <strong>Gender:</strong>
                {% if profile.gender %}
                    {{ profile.gender }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Status:</strong>
                {% if profile.marital_status %}
                    {{ profile.marital_status }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Looking For:</strong>
                {% if profile.looking_for %}
                    {{ profile.looking_for }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Seeking:</strong>
                {% if profile.relationship %}
                    {{ profile.relationship }}
                {% else %}
                    -
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="profile-info" id="appearance">
        <ul>
            <li>
                <strong>Ethnicity:</strong>
                {% if profile.ethnicity %}
                    {{ profile.ethnicity }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Hair Colour:</strong>
                {% if profile.hair %}
                    {{ profile.hair }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Eye Colour:</strong>
                {% if profile.eyes %}
                    {{ profile.eyes }}
                {% else %}
                    -
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="profile-info" id="lifestyle">
        <ul>
            <li>
                <strong>Has Children:</strong>
                {% if profile.has_children %}
                    {{ profile.has_children }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Wants Children:</strong>
                {% if profile.wants_children %}
                    {{ profile.wants_children }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Drinks:</strong>
                {% if profile.drinks %}
                    {{ profile.drinks }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Smokes:</strong>
                {% if profile.smokes %}
                    {{ profile.smokes }}
                {% else %}
                    -
                {% endif %}
            </li>
            <li>
                <strong>Diet:</strong>
                {% if profile.diet %}
                    {{ profile.diet }}
                {% else %}
                    -
                {% endif %}
            </li>
        </ul>
    </section>

    <section id="user-details" class="flex-container">
        <div class="columns">
            <strong>Member since:</strong><br />
            {{ profile.date_joined|date:'d M y, H:i' }}
        </div>
        <div class="columns">
            <strong>Last active:</strong><br />
            {{ profile.last_active|date:'d M y, H:i' }}
        </div>
    </section>

    <div class="sub-header">
        <a class="standard-link" href="{% url 'user_activity' profile.id %}">Forum Activity</a>
    </div>

    <section id="user-statistics" class="flex-container">
        <div class="columns">
            <strong>Threads:</strong> {{ threads }}
        </div>
        <div class="columns">
            <strong>Posts:</strong> {{ posts }}
        </div>
    </section>

    <!-- If the user is viewing their own profile, link to the editing page. -->
    {% if profile.id == user.id %}
        <div class="full-details">
            <a class="standard-link" href="{% url 'user_profile' %}">[Edit Your Profile]</a>
        </div>
    {% endif %}

    <!-- If the user is viewing another profile, show links to allow them to add as a favourite,
    wave or send a message. -->
    {% if profile.id != user.id %}
        <section id="contact-links" class="flex-container">

            {% if favourite %}
                <div class="contacted-button">
                    Favourited
                </div>
            {% else %}
                <div class="contact-button">
                    <span onclick="confirmationAlert('favourite')">Favourite</span>
                </div>
            {% endif %}

            {% if new_wave %}
                <div class="contact-button">
                    <span onclick="confirmationAlert('wave')">Wave</span>
                </div>
            {% else %}
                <div class="contacted-button">
                    Waved
                </div>
            {% endif %}

            {% if thread_exists %}
                <div class="contact-button">
                    <a class="white-link" href="{% url 'message_thread' person_1.id person_2.id %}#latest">Messages</a>
                </div>
            {% else %}
                <div class="contact-button">
                    <a class="white-link" href="{% url 'new_thread' user.id profile.id %}">Message</a>
                </div>
            {% endif %}

        </section>

        <div class="center-text">
            <a class="standard-link" href="{% url 'new_ticket' %}">Report User</a>
        </div>
    {% endif %}

    {% include "confirm_favourite.html" %}
    {% include "confirm_wave.html" %}

{% endblock %}