{% extends "base.html" %}

{% block content %}

    <section id="page-header">
        {% if profile.id == user.id %}
            YOUR PROFILE
        {% else %}
            {{ profile.username }}
        {% endif %}
        <img class="user-flag" src="{{profile.country.flag.url}}" />
    </section>

    <section id="profile-header" class="flex-container">
        <div>
            {% if profile.profile_picture %}
                <img class="profile-picture" alt="{{ profile.username }}" src="{{ profile.profile_picture.url }}" />
            {% endif %}
        </div>
        <div>
            {% if profile.intro %}
                {{ profile.intro }}
            {% endif %}
        </div>
    </section>

    <section id="profile-text">
        {% if profile.text %}
            {{ profile.text }}
        {% endif %}
    </section>

    <section id="profile-info" class="flex-container">
        <ul>
            <li>
                <strong>Age:</strong> {{ age }}
            </li>
            <li>
                <strong>Country:</strong> {{ profile.country }}
            </li>
        </ul>
    </section>

    <section id="user-details" class="flex-container">
        <div class="columns">
            <strong>Member since:</strong><br />
            {{ profile.date_joined|date:'d M y, H:i' }}
        </div>
        <div class="columns">
            <strong>Last login:</strong><br />
            {{ profile.last_login|date:'d M y, H:i' }}
        </div>
    </section>

    <!-- If the user is viewing their own profile, link to the editing page. -->
    {% if profile.id == user.id %}
        <div class="full-details">
            <a class="standard-link" href="{% url 'user_profile' %}">[Edit Your Profile]</a>
        </div>
    {% endif %}

{% endblock %}