{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "silver",
            plugins: "paste",
            menubar: false,
	        mobile: {
		        theme: "silver"
	        }
	    });
    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        SUPPORT TICKET #{{ ticket.id }}
    </div>

    {% if user == ticket.creator or user == ticket.agent %}

        <p>
            Created by: {{ ticket.creator }}<br />
            Agent: {{ ticket.agent }}
        </p>

        <form id="default-form" enctype="multipart/form-data" role="form" method="post">
            {% csrf_token %}
            {{ ticket_form.as_ul }}


            <p class="standard-link">
                <span class="slide-toggle instant-toggle instant-change">Compose New Message</span>
                <span class="slide-toggle instant-toggle instant-change hidden">Close Message Box</span>
            </p>

            <div class="slide-change hidden">
                {{ message_form.as_p }}
            </div>

            <button class="default-button" type="submit">{{ button_text }}</button>
        </form>

        {% for message in ticket_messages %}

            <section class="support-message">

                {% if user == message.sender %}
                    <div class="support-header">
                {% else %}
                    <div class="support-received-header">
                {% endif %}

                    {{ message.sender }}, {{ message.created_date|date:'d M y, H:i' }}
                        <div class="note-text">
                            {% if message.is_read %}
                                Message Read: {{ message.read_date|date:'d M y, H:i' }}
                            {% else %}
                                Message Unread
                            {% endif %}
                        </div>
                </div>

                <div class="support-content message-format">
                    {{ message.content|safe }}

                    <span class="note-text">Attached Image:</span>
                    {% if message.image %}
                        <img class="support-image" alt="Attached Image" src="{{ message.image.url }}" />
                    {% else %}
                        <span class="note-text">None</span>
                    {% endif %}
                </div>

            </section>

        {% endfor %}

    {% else %}

        <p>
            Sorry, you are not authorised to view this ticket.
        </p>

    {% endif %}

{% endblock %}