{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        FAVOURITES
    </div>

    <a class="standard-link" href="{% url 'favourites' %}">Favourites</a> |
    <strong>Favourited Me</strong> |
    <a class="standard-link" href="">Mutual</a>

    {% for favourite in favourited %}

        <div class="contact-list">

            <img class="contact-picture" alt="Profile Picture" src="{{ favourite.creator.profile_picture.url }}" />
            <a class="standard-link" href="{% url 'view_profile' favourite.creator.id %}">
                {{favourite.creator}}
            </a>

            <br />
            Added: {{ favourite.created_date|date:'d M y, H:i' }}

        </div>

    {% endfor %}

{% endblock %}