{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        FAVOURITES
    </div>

    {% if favourite_type == 'creator' %}
        <strong>Favourites</strong> |
    {% else %}
        <a class="standard-link" href="{% url 'favourites' %}">Favourites</a> |
    {% endif %}

    {% if favourite_type == 'recipient' %}
        <strong>Favourited Me</strong> |
    {% else %}
        <a class="standard-link" href="{% url 'favourited_me' %}">Favourited Me</a> |
    {% endif %}

    {% if favourite_type == 'mutual' %}
        <strong>Mutual</strong>
    {% else %}
        <a class="standard-link" href="{% url 'mutual_favourites' %}">Mutual</a>
    {% endif %}

    {% for favourite in favourite_list %}

        <div class="contact-list">

            {% if favourite_type == 'creator' %}
                <img class="contact-picture" alt="Profile Picture" src="{{ favourite.recipient.profile_picture.url }}" />
            {% else %}
                <img class="contact-picture" alt="Profile Picture" src="{{ favourite.creator.profile_picture.url }}" />
            {% endif %}

            <div class="contact-details">

                {% if favourite_type == 'creator' %}
                    <a class="standard-link" href="{% url 'view_profile' favourite.recipient.id %}">
                        {{favourite.recipient}}
                    </a>
                {% else %}
                    <a class="standard-link" href="{% url 'view_profile' favourite.creator.id %}">
                        {{favourite.creator}}
                    </a>
                {% endif %}

                <br />
                {% if favourite_type == 'mutual' %}
                    Added: {{ favourite.mutual_date|date:'d M y, H:i' }}
                {% else %}
                    Added: {{ favourite.created_date|date:'d M y, H:i' }}
                {% endif %}

                <br />
                Message |
                Wave |
                {% if favourite_type != 'recipient' %}
                    Delete |
                {% endif %}
                Block

            </div>

        </div>

    {% endfor %}

    {% for interaction in interactions %}

        {% if not interaction.blocked %}

            <div class="contact-list">

                {% if user == interaction.person_1 %}

                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_2.profile_picture.url }}" />

                        <div class="contact-details">
                            <a class="standard-link" href="{% url 'view_profile' interaction.person_2.id %}">
                                {{interaction.person_2}}
                            </a>

                            {% if interaction.person_2.last_active < minute_ago %}
                                <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                            {% else %}
                                <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                            {% endif %}

                            <br />
                            {% if favourite_type == 'mutual' %}
                                Mutual: {{ interaction.mutual_date|date:'d M y, H:i' }}
                            {% elif favourite_type == 'creator' %}
                                Added: {{ interaction.p1_favourited_date|date:'d M y, H:i' }}
                            {% else %}
                                Added: {{ interaction.p2_favourited_date|date:'d M y, H:i' }}
                            {% endif %}

                {% else %}

                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_1.profile_picture.url }}" />

                        <div class="contact-details">
                            <a class="standard-link" href="{% url 'view_profile' interaction.person_1.id %}">
                                {{interaction.person_1}}
                            </a>

                            {% if interaction.person_1.last_active < minute_ago %}
                                <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                            {% else %}
                                <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                            {% endif %}

                            <br />
                            {% if favourite_type == 'mutual' %}
                                Mutual: {{ interaction.mutual_date|date:'d M y, H:i' }}
                            {% elif favourite_type == 'creator' %}
                                Added: {{ interaction.p2_favourited_date|date:'d M y, H:i' }}
                            {% else %}
                                Added: {{ interaction.p1_favourited_date|date:'d M y, H:i' }}
                            {% endif %}

                {% endif %}

                    <br />
                    {% if interaction.thread_exists %}
                        <a class="standard-link"
                           href="{% url 'message_thread' interaction.person_1.id interaction.person_2.id %}#latest">Message</a> |
                    {% else %}
                        <a class="standard-link"
                           href="{% url 'new_thread' interaction.person_1.id interaction.person_2.id %}">Message</a> |
                    {% endif %}
                    {% if not interaction.new_wave %}
                            Waved |
                    {% else %}
                        <a class="standard-link" onclick="confirmationAlert('wave')">Wave</a> |
                    {% endif %}
                    {% if favourite_type != 'recipient' %}
                        Delete |
                    {% endif %}
                    <a class="standard-link" onclick="confirmationAlert('block')">Block</a>

                    <!-- JavaScript confirmation before a wave is sent. -->
                    <div id="wave-wrapper" class="popup-wrapper hidden">
                        <div id="wave-alert" class="alert-message hidden">
                            <p>Confirmation:</p>
                            <p>Send wave?</p>
                            <div class="alert-link">
                                {% if user == interaction.person_1 %}
                                    <a class="standard-link" href="{% url 'waved_at' interaction.person_2.id %}">OK</a>
                                {% else %}
                                    <a class="standard-link" href="{% url 'waved_at' interaction.person_1.id %}">OK</a>
                                {% endif %}
                            </div>
                            <div class="alert-link" onclick="confirmationAlert('wave')">
                                Cancel
                            </div>
                        </div>
                    </div>

                    <!-- JavaScript confirmation before a user is blocked. -->
                    <div id="block-wrapper" class="popup-wrapper hidden">
                        <div id="block-alert" class="alert-message hidden">
                            <p>Confirmation:</p>
                            <p>Block User?</p>
                            <div class="alert-link">
                                {% if user == interaction.person_1 %}
                                    <a class="standard-link" href="{% url 'block_user' interaction.person_2.id %}">OK</a>
                                {% else %}
                                    <a class="standard-link" href="{% url 'block_user' interaction.person_1.id %}">OK</a>
                                {% endif %}
                            </div>
                            <div class="alert-link" onclick="confirmationAlert('block')">
                                Cancel
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        {% endif %}

    {% endfor %}

{% endblock %}
