{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        FAVOURITES
    </div>

    {% if favourite_type == 'creator' %}
        <strong>Favourites</strong> |
    {% else %}
        <a class="standard-link" href="{% url 'favourites' %}">Favourites</a> |
    {% endif %}

    {% if favourite_type == 'recipient' %}
        <strong>Favourited Me</strong> |
    {% else %}
        <a class="standard-link" href="{% url 'favourited_me' %}">Favourited Me</a> |
    {% endif %}

    {% if favourite_type == 'mutual' %}
        <strong>Mutual</strong>
    {% else %}
        <a class="standard-link" href="{% url 'mutual_favourites' %}">Mutual</a>
    {% endif %}

    {% for interaction in interactions %}

        {% if not interaction.blocked %}

            <div class="contact-list">

                {% if user == interaction.person_1 %}

                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_2.profile_picture.url }}" />

                        <div class="contact-details">
                            <a class="standard-link" href="{% url 'view_profile' interaction.person_2.id %}">
                                {{interaction.person_2}}
                            </a>

                            {% if interaction.person_2.last_active < minute_ago %}
                                <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                            {% else %}
                                <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                            {% endif %}

                            <br />
                            {% if favourite_type == 'mutual' %}
                                Mutual: {{ interaction.mutual_date|date:'d M y, H:i' }}
                            {% elif favourite_type == 'creator' %}
                                Added: {{ interaction.p1_favourited_date|date:'d M y, H:i' }}
                            {% else %}
                                Added: {{ interaction.p2_favourited_date|date:'d M y, H:i' }}
                            {% endif %}

                {% else %}

                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_1.profile_picture.url }}" />

                        <div class="contact-details">
                            <a class="standard-link" href="{% url 'view_profile' interaction.person_1.id %}">
                                {{interaction.person_1}}
                            </a>

                            {% if interaction.person_1.last_active < minute_ago %}
                                <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                            {% else %}
                                <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                            {% endif %}

                            <br />
                            {% if favourite_type == 'mutual' %}
                                Mutual: {{ interaction.mutual_date|date:'d M y, H:i' }}
                            {% elif favourite_type == 'creator' %}
                                Added: {{ interaction.p2_favourited_date|date:'d M y, H:i' }}
                            {% else %}
                                Added: {{ interaction.p1_favourited_date|date:'d M y, H:i' }}
                            {% endif %}

                {% endif %}

                    <br />
                    {% if interaction.thread_exists %}
                        <a class="standard-link"
                           href="{% url 'message_thread' interaction.person_1.id interaction.person_2.id %}#latest">Message</a> |
                    {% else %}
                        <a class="standard-link"
                           href="{% url 'new_thread' interaction.person_1.id interaction.person_2.id %}">Message</a> |
                    {% endif %}
                    {% if not interaction.new_wave %}
                            Waved |
                    {% else %}
                        <a class="standard-link" onclick="confirmationAlert('wave')">Wave</a> |
                    {% endif %}
                    {% if favourite_type != 'recipient' %}
                        <a class="standard-link" onclick="confirmationAlert('delete')">Delete</a> |
                    {% endif %}
                    <a class="standard-link" onclick="confirmationAlert('block')">Block</a>

                    {% include "confirm_wave.html" %}
                    {% include "confirm_delete.html" %}
                    {% include "confirm_block.html" %}

                </div>

            </div>

        {% endif %}

    {% endfor %}

{% endblock %}
