{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "silver",
            plugins: "paste",
            menubar: false,
	        mobile: {
		        theme: "silver"
	        }
	    });
    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        MESSAGES: <a class="standard-link" href="{% url 'view_profile' other_person.id %}">{{ other_person.username }}</a>
    </div>

    Favourite |

    {% if not interaction.new_wave %}
        Waved |
    {% else %}
        <a class="standard-link" onclick="confirmationAlert('wave')">Wave</a> |
    {% endif %}

    <a class="standard-link" onclick="confirmationAlert('block')">Block</a> |

    Report

    <section id="messages">

        <!-- List all the posts in turn. -->
        {% for message in interaction_messages %}

            {% if user == message.sender %}

                <div class="sent-message">

                    <img class="sent-message-picture" alt="Profile Picture" src="{{ message.sender.profile_picture.url }}" />

                    <div class="sent-message-text message-format">
                        {{ message.content|safe }}
                    </div>

                    <div class="sent-message-details">
                        Sent: {{ message.created_date|date:'d M y, H:i' }},
                        {% if message.is_read == False %}
                            <strong>
                                Unread
                            </strong>
                        {% else %}
                            Read: {{ message.read_date|date:'d M y, H:i' }}
                        {% endif %}
                    </div>

                </div>

            {% else %}

                <div class="received-message">

                    <img class="received-message-picture" alt="Profile Picture" src="{{ message.sender.profile_picture.url }}" />

                    <div class="received-message-text message-format">
                        {{ message.content|safe }}
                    </div>

                    <div class="received-message-details">
                        Sent: {{ message.created_date|date:'d M y, H:i' }}
                    </div>

                </div>

            {% endif %}

            {% if forloop.last %}
                <a name="latest"></a>
            {% endif %}

        {% endfor %}

    </section>

    <!-- JavaScript confirmation before a wave is sent. -->
    <div id="wave-wrapper" class="popup-wrapper hidden">
        <div id="wave-alert" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Send wave?</p>
            <div class="alert-link">
                {% if user == interaction.person_1 %}
                    <a class="standard-link" href="{% url 'waved_at' interaction.person_2.id %}">OK</a>
                {% else %}
                    <a class="standard-link" href="{% url 'waved_at' interaction.person_1.id %}">OK</a>
                {% endif %}
            </div>
            <div class="alert-link" onclick="confirmationAlert('wave')">
                Cancel
            </div>
        </div>
    </div>

    <!-- JavaScript confirmation before a user is blocked. -->
    <div id="block-wrapper" class="popup-wrapper hidden">
        <div id="block-alert" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Block User?</p>
            <div class="alert-link">
                {% if user == interaction.person_1 %}
                    <a class="standard-link" href="{% url 'block_user' interaction.person_2.id %}">OK</a>
                {% else %}
                    <a class="standard-link" href="{% url 'block_user' interaction.person_1.id %}">OK</a>
                {% endif %}
            </div>
            <div class="alert-link" onclick="confirmationAlert('block')">
                Cancel
            </div>
        </div>
    </div>

    <!-- Form for sending a message to another user. -->
    <form id="default-form" role="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="default-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}