{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "silver",
            plugins: "paste",
            menubar: false,
	        mobile: {
		        theme: "silver"
	        }
	    });
    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        MESSAGES: <a class="standard-link" href="{% url 'view_profile' other_person.id %}">{{ other_person.username }}</a>
    </div>

    {% if favourite %}
        <a class="standard-link" onclick="confirmationAlert('delete')">Unfavourite</a> |
    {% else %}
        <a class="standard-link" onclick="confirmationAlert('favourite')">Favourite</a> |
    {% endif %}

    {% if not interaction.new_wave %}
        Waved |
    {% else %}
        <a class="standard-link" onclick="confirmationAlert('wave')">Wave</a> |
    {% endif %}

    <a class="standard-link" onclick="confirmationAlert('block')">Block</a> |

    <a class="standard-link" href="{% url 'new_ticket' %}">Report</a>

    <section id="messages">

        <!-- List all the posts in turn. -->
        {% for message in interaction_messages %}

            {% if user == message.sender %}

                <div class="sent-message">

                    <img class="sent-message-picture" alt="Profile Picture" src="{{ message.sender.profile_picture.url }}" />

                    <div class="sent-message-text message-format">
                        {{ message.content|safe }}
                    </div>

                    <div class="sent-message-details">
                        Sent: {{ message.created_date|date:'d M y, H:i' }},
                        {% if message.is_read == False %}
                            <strong>
                                Unread
                            </strong>
                        {% else %}
                            Read: {{ message.read_date|date:'d M y, H:i' }}
                        {% endif %}
                    </div>

                </div>

            {% else %}

                <div class="received-message">

                    <img class="received-message-picture" alt="Profile Picture" src="{{ message.sender.profile_picture.url }}" />

                    <div class="received-message-text message-format">
                        {{ message.content|safe }}
                    </div>

                    <div class="received-message-details">
                        Sent: {{ message.created_date|date:'d M y, H:i' }}
                    </div>

                </div>

            {% endif %}

            {% if forloop.last %}
                <a name="latest"></a>
            {% endif %}

        {% endfor %}

    </section>

    {% include "confirm_favourite.html" %}
    {% include "confirm_delete.html" %}
    {% include "confirm_wave.html" %}
    {% include "confirm_block.html" %}

    <!-- Form for sending a message to another user. -->
    <form id="default-form" role="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="default-button" type="submit">{{ button_text }}</button>
    </form>

{% endblock %}