{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        PROFILE VIEWS
    </div>

    <div class="statistics">
        Viewed
        <strong>{{ total_views }}</strong>
        {% if total_views == 1 %}
            time
        {% else %}
            times
        {% endif %}
         by
        <strong>{{ unique_viewers }}</strong>
        {% if unique_viewers == 1 %}
            user
        {% else %}
            users
        {% endif %}
    </div>

    {% for view in views %}

        <div class="contact-list">

            <img class="contact-picture" alt="Profile Picture" src="{{ view.viewer.profile_picture.url }}" />

            <div class="contact-details">

                <a class="standard-link" href="{% url 'view_profile' view.viewer.id %}">
                    {{view.viewer}}
                </a>

                <br />
                Viewed: {{ view.latest_view|date:'d M y, H:i' }}

            </div>

        </div>

    {% endfor %}

{% endblock %}