{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        PROFILE VIEWS
    </div>

    <div class="statistics">
        Viewed
        <strong>{{ total_views }}</strong>
        {% if total_views == 1 %}
            time
        {% else %}
            times
        {% endif %}
         by
        <strong>{{ unique_viewers }}</strong>
        {% if unique_viewers == 1 %}
            user
        {% else %}
            users
        {% endif %}
    </div>

    {% for interaction in interactions %}

        <div class="contact-list">

            {% if user.id == interaction.person_1.id %}

                {% if interaction.person_2.profile_picture %}
                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_2.profile_picture.url }}" />
                {% else %}
                    <img class="contact-picture" alt="Profile Picture" src="/media/images/users/default.png" />
                {% endif %}

                <div class="contact-details">

                    <a class="standard-link" href="{% url 'view_profile' interaction.person_2.id %}">
                        {{interaction.person_2}}
                    </a>

                    {% if interaction.person_2.last_active < minute_ago %}
                        <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                    {% else %}
                        <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                    {% endif %}

                    <br />
                    Viewed: {{ interaction.p2_latest_view|date:'d M y, H:i' }}

            {% else %}

                {% if interaction.person_1.profile_picture %}
                    <img class="contact-picture" alt="Profile Picture" src="{{ interaction.person_1.profile_picture.url }}" />
                {% else %}
                    <img class="contact-picture" alt="Profile Picture" src="/media/images/users/default.png" />
                {% endif %}

                <div class="contact-details">

                    <a class="standard-link" href="{% url 'view_profile' interaction.person_1.id %}">
                        {{interaction.person_1}}
                    </a>

                    {% if interaction.person_1.last_active < minute_ago %}
                        <img class="online-icon" alt="Offline" src="/media/images/icons/offline.png" />
                    {% else %}
                        <img class="online-icon" alt="Online" src="/media/images/icons/online.png" />
                    {% endif %}

                    <br />
                    Viewed: {{ interaction.p1_latest_view|date:'d M y, H:i' }}

            {% endif %}

                <br />
                {% if interaction.thread_exists %}
                    <a class="standard-link"
                       href="{% url 'message_thread' interaction.person_1.id interaction.person_2.id %}#latest">Message</a> |
                {% else %}
                    <a class="standard-link"
                       href="{% url 'new_thread' interaction.person_1.id interaction.person_2.id %}">Message</a> |
                {% endif %}
                {% if interaction.favourite %}
                    <a class="standard-link" onclick="confirmationAlert('delete')">Unfavourite</a> |
                {% else %}
                    <a class="standard-link" onclick="confirmationAlert('favourite')">Favourite</a> |
                {% endif %}
                {% if not interaction.new_wave %}
                    Waved
                {% else %}
                    <a class="standard-link" onclick="confirmationAlert('wave')">Wave</a>
                {% endif %}

                {% include "confirm_favourite.html" %}
                {% include "confirm_delete.html" %}
                {% include "confirm_wave.html" %}

            </div>

        </div>

    {% endfor %}

{% endblock %}
