/* Site-wide styling */
body {
    font-family: 'Farro', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Almendra SC', serif;
    background-color: #566dba;
    font-size: 2em;
    color: white;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #566dba;
    color: white;
    padding: 5px 10px;
}

#page {
    margin: 10px;
    min-height: 400px;
}

.flex-container {
    display: flex;
    clear: both;
}

.columns {
    flex: 1;
}

.header-icon {
    display: inline;
    width: 25px;
    margin: auto 5px;
}

#page-header {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #566dba;
}

.bordered-section {
	border: 2px solid #566dba;
	border-radius: 20px;
	padding: 10px;
}

.section-header {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    color: #566dba;
    margin-top: -20px;
    background-color: white;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 5px;
}

.section-contents {
    padding-top: 5px;
}

.page-info {
    margin: 10px;
    color: #566dba;
}

.helptext, .errorlist {
    font-size: 0.8em;
    color: #566dba;
}

label {
    color: #566dba;
}

input {
    display: block;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #566dba;
    width: 100%;
}

.default-button {
    margin: 10px auto;
    display: block;
}

#site-logo {
    position: absolute;
    left: 0;
}

#menu-button {
    position: absolute;
    right: 0;
}

textarea {
    max-width: 95%;
    display: block;
}

/* Styles for the page header */
#notifications {
    font-family: 'Almendra SC', serif;
    background-color: #788fdc;
    color: white;
    margin: auto;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
img.icon {
    height: 20px;
    width: auto;
    margin: 0;
}
.notification-icon {
    flex: 1;
    margin: 5px;
    height: 20px;
    display: inline-block;
}
.notification-number {
    font-family: 'Farro', serif;
    background-color: #cc0000;
    border-radius: 50%;
    height: 15px;
    min-width: 15px;
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    top: 0:
    right: 0;
}

/* Styles for links */
.standard-link {
    text-decoration: none;
    color: #566dba;
    -webkit-tap-highlight-color: transparent;
}
.standard-link:hover {
    text-decoration: underline;
    color: #788fdc;
}
.banner-link {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
.contact-link {
    text-decoration: none;
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
}
.contact-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* Styling additional navigating links */
.full-details {
    font-size: 0.75em;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px;
}

/* Styles for the main menu */
#main-menu {
    display: none;
    position: relative;
}
.menu-link {
    font-family: 'Almendra SC', serif;
    text-align: center;
	background-color: #e1e5f2;
    border-bottom: 1px solid #566dba;
    font-size: 1.25em;
    color: #566dba;
    width: 100%;
    display: block;
    padding: none;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
}
.menu-link:last-of-type {
	box-shadow: 0 2px 2px 2px #566dba;
}
.menu-link:hover {
	background-color: #566dba;
	color: white;
    transition: 0.25s;
}

/* Styles for message alerts */
.success {
    font-size: 0.75em;
    background-color: #ccffcc;
    border: 1px solid #339933;
    color: #339933;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center;
    width: fit-content;
}
.error {
    font-size: 0.75em;
    background-color: #ffcccc;
    border: 1px solid #993333;
    color: #993333;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center;
    width: fit-content;
}

/* Classes to toggle content based on user action */
.hidden {
    display: none;
}
.activate {
	display: block;
}

/* Styles for the user profiles */
.user-flag {
    height: 30px;
    float: right;
}
.profile-icon {
    height: 30px;
    float: right;
    margin-right: 10px;
}
.profile-picture {
    height: 100px;
    width: 100px;
    border: 1px solid #566dba;
    overflow: hidden;
    vertical-align: bottom;
    display: block;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
}
#profile-header {
    margin: 10px 0;
}
#profile-text {
    margin: 10px 0;
    text-align: justify;
}
.profile-info {
    margin: 10px 0;
}
.profile-info ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
}
#contact-links {
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-button {
    flex: 1;
    background-color: #566dba;
    margin: 0 1%;
    border-radius: 20px;
    color: white;
    text-align: center;
    max-width: 150px;
}
.contacted-button {
    flex: 1;
    background-color: #e1e5f2;
    margin: 0 1%;
    border-radius: 20px;
    color: #566dba;
    text-align: center;
    max-width: 150px;
}

/* Styles for the profile editing forms */
.form-thumbnail {
    height: 100px;
    width: 100px;
    border: 1px solid #566dba;
    overflow: hidden;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}
#profile_picture-clear_id {
    width: 13px;
    margin: 0;
    display: inline;
}
label[for=id_profile_picture] {
    display: block;
}
#default-form li {
    list-style-type: none;
}
.form-section {
    margin: 10px 0;
}

/* Styles for the contacts app */
.message-format p{
    margin: 0;
    padding: 0;
}
.received-message {
    margin: 10px 0;
}
.received-message-text {
    margin-left: 35px;
    background-color: #e1e5f2;
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 10px;
}
.received-message-details {
    font-size: 0.75em;
    clear: both;
    text-align: left;
}
.sent-message {
    margin: 10px 0;
}
.sent-message-text {
    margin-right: 35px;
    background-color: #788fdc;
    margin-bottom: 5px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.sent-message-details {
    font-size: 0.75em;
    clear: both;
    text-align: right;
}
.received-message-picture {
    height: 25px;
    width: 25px;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    float: left;
    margin-bottom: 5px;
    object-fit: cover;
}
.sent-message-picture {
    height: 25px;
    width: 25px;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    float: right;
    margin-bottom: 5px;
    object-fit: cover;
}
.contact-picture {
    height: 40px;
    width: 40px;
    border: 1px solid #566dba;
    overflow: hidden;
    vertical-align: bottom;
    border-radius: 8px;
    object-fit: cover;
    float: left;
}
.contact-list {
    margin: 10px 0;
}
.contact-details {
    margin-left: 50px;
}
.statistics {
    margin: 5px 0;
}

/* Styles for message alerts */
.alert-link {
    margin: 10px auto 10px 0;
    color: #566dba;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    display: inline-block;
}
.popup-wrapper {
	width: 100%;
	height: 100%;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
}
.alert-message {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    width: 200px;
    max-height: 90px;
    height: fit-content;
    background-color: #566dba;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #566dba;
}
.alert-message p{
    margin: 0;
}