/* Site-wide styling */
body {
    font-family: 'Farro', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Almendra SC', serif;
    background-color: #566dba;
    font-size: 2em;
    color: white;
    margin: auto;
    text-align: center;
/*    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;*/
}

#page {
    margin: 10px;
}

.flex-container {
    display: flex;
    clear: both;
}

.columns {
    flex: 1;
}

.header-icon {
    display: inline;
    width: 25px;
    margin: auto 5px;
}

#page-header {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #566dba;
}

.page-info {
    margin: 10px;
    color: #566dba;
}

.helptext, .errorlist {
    font-size: 0.8em;
    color: #566dba;
}

label {
    color: #566dba;
}

input {
    display: block;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #566dba;
    width: 100%;
}

.default-button {
    margin: 10px auto;
    display: block;
}

#site-logo {
    position: absolute;
    left: 0;
}

#menu-button {
    position: absolute;
    right: 0;
}

/* Styles for links */
.standard-link {
    text-decoration: none;
    color: #566dba;
}
.standard-link:hover {
    text-decoration: underline;
    color: #788fdc;
}
.banner-link {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

/* Styling additional navigating links */
.full-details {
    font-size: 0.75em;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px;
}

/* Styles for the main menu */
#main-menu {
    display: none;
    position: relative;
}
.menu-link {
    font-family: 'Almendra SC', serif;
    text-align: center;
	background-color: #e1e5f2;
    border-bottom: 1px solid #566dba;
    font-size: 1.25em;
    color: #566dba;
    width: 100%;
    display: block;
    padding: none;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
}
.menu-link:last-of-type {
	box-shadow: 0 2px 2px 2px #566dba;
}
.menu-link:hover {
	background-color: #566dba;
	color: white;
    transition: 0.25s;
}

/* Styles for message alerts */
.success {
    font-size: 0.75em;
    background-color: #ccffcc;
    border: 1px solid #339933;
    color: #339933;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center;
    width: fit-content;
}
.error {
    font-size: 0.75em;
    background-color: #ffcccc;
    border: 1px solid #993333;
    color: #993333;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center;
    width: fit-content;
}

/* Classes to toggle content based on user action */
.hidden {
    display: none;
}
.activate {
	display: block;
}

/* Styles for the user profiles */
.user-flag {
    height: 30px;
    float: right;
}
.profile-picture {
    height: 100px;
    width: 100px;
    border: 1px solid #566dba;
    overflow: hidden;
    vertical-align: bottom;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
}
#profile-header {
    margin: 10px 0;
}
#profile-text {
    margin: 10px 0;
    text-align: justify;
}
.profile-info {
    margin: 10px 0;
}
.profile-info ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
}

/* Styles for the profile editing forms */
.form-thumbnail {
    height: 100px;
    width: 100px;
    border: 1px solid #566dba;
    overflow: hidden;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}
#profile_picture-clear_id {
    width: 13px;
    margin: 0;
    display: inline;
}
label[for=id_profile_picture] {
    display: block;
}
#default-form li {
    list-style-type: none;
}
.form-section {
    margin: 10px 0;
}