{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        {{ board.title }}
    </div>

    <!-- A logged in user is shown their username. Otherwise, the user is prompted to log in. -->
    {% if user.is_authenticated %}
         <div class="sub-header">
                    <a class="standard-link" href="{% url 'new_thread' board.id %}">New Thread</a>
         </div>
    {% else %}
        <div class="sub-header">
            NB: You must be <a class="standard-link" href="{% url 'login' %}?next={% url 'forum_home' %}">logged in</a> to post.
        </div>
    {% endif %}

{% endblock %}