{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        DISCUSSION FORUM
    </div>

    <!-- A logged in user is shown their username. Otherwise, the user is prompted to log in. -->
    {% if user.is_authenticated %}
        <div class="sub-header">
            Logged in as: <a class="standard-link" href="{% url 'own_profile' %}">{{ user.username }}</a>
        </div>
    {% else %}
        <div class="sub-header">
            NB: You must be <a class="standard-link" href="{% url 'login' %}?next={% url 'forum_home' %}">logged in</a> to post.
        </div>
    {% endif %}

    {% for section in sections %}

        <section class="board-section">

            <div class="section-header">
                {{ section.title }}
            </div>

            {% for board in section.boards.all %}

                <div class="board-header">
                    <a class="white-link" href="{% url 'board_home' board.id %}">{{ board.title }}</a>
                </div>

                <div class="board-description">
                    {{ board.description|safe }}
                </div>

                <div class="board-statistics flex-container">
                    <div class="columns">
                        Threads: {{ board.thread_count }}
                    </div>
                    <div class="columns">
                        Posts: {{ board.post_count }}
                    </div>
                </div>

            {% endfor %}

        </section>

    {% endfor %}

{% endblock %}