<div class="post-body">

    <!-- If the poster has a profile picture, show it next to their post. If they don't, show their favourite
    team's logo. If they have neither, show the default icon. -->
    {% if not post.user.profile_picture %}

    {% else %}
        <img class="contact-picture" alt="Profile Picture" src="{{ post.user.profile_picture.url }}" />
    {% endif %}

    <div class="post-user">

        {% if user.is_authenticated %}
            <a class="standard-link" href="{% url 'view_profile' post.user.id %}">
                {{ post.user }}
            </a>
        {% else %}
            {{ post.user }}
        {% endif %}

    </div>

    <div class="post-detail">
        {{ post.created_date|date:'d F Y, g:i a' }}
    </div>

    <div class="post-text">
        {{ post.content|safe }}
    </div>

        <!-- Show the position of the post in the thread. -->
    <div class="post-detail-right">
        Post {{ forloop.counter }} of {{ thread.posts.count }}
    </div>

</div>