{% extends "base.html" %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "silver",
            plugins: "paste",
            menubar: false,
	        mobile: {
		        theme: "silver"
	        }
	    });
    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        {% if post_exists %}
            EDIT POST
        {% else %}
            ADD NEW POST
        {% endif %}
    </div>

    {% if user == post.user or user.is_staff or not post_exists %}
        <div class="sub-header">
            Post in:<br />
            <a class="standard-link" href="{% url 'view_thread' thread.id %}">{{ thread.title }}</a>
        </div>

        <!-- The form to add a new post within a thread or edit an existing post. -->
        <form id="default-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="default-button" type="submit">{{ button_text }}</button>
        </form>

    {% else %}

        <p>
            Sorry, you are not authorised to view this page.
        </p>

    {% endif %}

{% endblock %}