{% extends "base.html" %}

{% block content %}

    <div class="sub-header">
        <a class="standard-link " href="{% url 'forum_home' %}">Forum</a> &gt;
        <a class="standard-link" href="{% url 'board_home' board.id %}">{{ board.title }}</a> &gt;
        {{ thread.title }}
    </div>

    <section id="posts">

        <!-- List all the posts in turn. -->
        {% for post in posts %}

            <a class="anchor" name="{{ post.id }}" />

            {% include 'post.html' %}

        {% endfor %}

    </section>

    <!-- Show a logged in user the button to add a new post, otherwise prompt the user to log in. -->
    {% if user.is_authenticated %}
        <a class="standard-link" href="{% url 'new_post' thread.id %}">
            Add New Post
        </a>
    {% else %}
        You must be <a class="standard-link"href="{% url 'login' %}?next={% url 'view_thread' thread.id %}">
                logged in </a> to post.
    {% endif %}

{% endblock %}