<!-- JavaScript confirmation before a wave is sent. -->
    <div id="wave-wrapper" class="popup-wrapper hidden">
        <div id="wave-alert" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Send wave?</p>
            <div class="alert-link">
                {% if user == interaction.person_1 %}
                    <a class="standard-link" href="{% url 'waved_at' interaction.person_2.id %}">OK</a>
                {% elif user == interaction.person_2 %}
                    <a class="standard-link" href="{% url 'waved_at' interaction.person_1.id %}">OK</a>
                {% else %}
                    <a class="standard-link" href="{% url 'waved_at' profile.id %}">OK</a>
                {% endif %}
            </div>
            <div class="alert-link" onclick="confirmationAlert('wave')">
                Cancel
            </div>
        </div>
    </div>