<!-- JavaScript confirmation before a favourite is deleted. -->
    <div id="delete-wrapper" class="popup-wrapper hidden">
        <div id="delete-alert" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Delete favourite?</p>
            <div class="alert-link">
                {% if user == interaction.person_1 %}
                    <a class="standard-link" href="{% url 'delete_favourite' interaction.person_2.id %}">OK</a>
                {% else %}
                    <a class="standard-link" href="{% url 'delete_favourite' interaction.person_1.id %}">OK</a>
                {% endif %}
            </div>
            <div class="alert-link" onclick="confirmationAlert('delete')">
                Cancel
            </div>
        </div>
    </div>